In [2]:
import pymongo

In [15]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient['lab_db']

In [17]:
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'lab_db')

In [18]:
mycollection = mydb['lab_collection']

In [19]:
mycollection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'lab_db'), 'lab_collection')

In [20]:
customer_1 = {'Name': 'John Smith', 'Email': 'j.smith@thesmiths.com', 'Mailing_Address': '123 mulberry lane', 'Balance': 0.0, 'Notes': 'Called technical support, issue not yet resolved.'}
customer_2 = {'Name': 'Jane Smith', 'Email': 'jane_smith@thesmiths.com', 'Balance': 25.0}
customer_3 = {'Name': 'Adam Enbar', 'Email': 'adam@theflatironschool.com', 'Mailing_Address': '11 Broadway', 'Balance': 14.99, 'Notes': 'Set up on recurring billing cycle.'}
customer_4 = {'Name': 'Avi Flombaum', 'Email': 'avi@theflatironschool.com', 'Mailing_Address': '11 Broadway', 'Balance': 0.0}
customer_5 = {'Name': 'Steven S.', 'Email': 'steven.s@gmail.net', 'Balance': -20.23, 'Notes': 'Refunded for overpayment due to price match guarantee.'}

all_records = [customer_1, customer_2, customer_3, customer_4, customer_5]

insertion_results = mycollection.insert_many(all_records)

In [23]:
insertion_results.inserted_ids

[ObjectId('5d34beda0b081fad65634e72'),
 ObjectId('5d34beda0b081fad65634e73'),
 ObjectId('5d34beda0b081fad65634e74'),
 ObjectId('5d34beda0b081fad65634e75'),
 ObjectId('5d34beda0b081fad65634e76')]

In [26]:
query_2 = mycollection.find({'Name': 'John Smith'})
for item in query_2:
    print(item)

{'_id': ObjectId('5d34beda0b081fad65634e72'), 'Name': 'John Smith', 'Email': 'j.smith@thesmiths.com', 'Mailing_Address': '123 mulberry lane', 'Balance': 0.0, 'Notes': 'Called technical support, issue not yet resolved.'}

In [27]:
query_3 = mycollection.find({'Balance': {'$gt': 0}}, {'Name': 1, 'Email': 1, 'Balance': 1},)
for item in query_3:
    print(item)

{'_id': ObjectId('5d34beda0b081fad65634e73'), 'Name': 'Jane Smith', 'Email': 'jane_smith@thesmiths.com', 'Balance': 25.0}
{'_id': ObjectId('5d34beda0b081fad65634e74'), 'Name': 'Adam Enbar', 'Email': 'adam@theflatironschool.com', 'Balance': 14.99}

In [28]:
record_to_update_1 = {'Name': 'John Smith'}
update_1 = {'$set': {'Mailing_Address': '367 55th St., apt 2A'}}
mycollection.update_one(record_to_update_1, update_1)

In [29]:
query_4 = mycollection.find({'Name': 'John Smith'})
for item in query_4:
    print(item)

{'_id': ObjectId('5d34beda0b081fad65634e72'), 'Name': 'John Smith', 'Email': 'j.smith@thesmiths.com', 'Mailing_Address': '367 55th St., apt 2A', 'Balance': 0.0, 'Notes': 'Called technical support, issue not yet resolved.'}

In [30]:
names_list = ['John Smith', 'Jane Smith', 'Adam Enbar', 'Avi Flombaum', 'Steven S.']
birthdays_list = ['02/20/1986', '07/07/1983', '12/02/0982', '04/17/1983', '08/30/1991']

def update_birthdays(names, birthdays):
    for ind, name in enumerate(names):
        birthday = birthdays_list[ind]
        query = {'Name': name}
        update = {'$set': {'Birthday': birthday}}
        mycollection.update_one(query, update)
        # alternative method is to create each update dictionary, store them all in a list, and then pass that 
        # list to update_many() at the end of the function. 
        
update_birthdays(names_list, birthdays_list)

In [31]:
[i for i in mycollection.find()]

[{'_id': ObjectId('5d34beda0b081fad65634e72'),
  'Name': 'John Smith',
  'Email': 'j.smith@thesmiths.com',
  'Mailing_Address': '367 55th St., apt 2A',
  'Balance': 0.0,
  'Notes': 'Called technical support, issue not yet resolved.',
  'Birthday': '02/20/1986'},
 {'_id': ObjectId('5d34beda0b081fad65634e73'),
  'Name': 'Jane Smith',
  'Email': 'jane_smith@thesmiths.com',
  'Balance': 25.0,
  'Birthday': '07/07/1983'},
 {'_id': ObjectId('5d34beda0b081fad65634e74'),
  'Name': 'Adam Enbar',
  'Email': 'adam@theflatironschool.com',
  'Mailing_Address': '11 Broadway',
  'Balance': 14.99,
  'Notes': 'Set up on recurring billing cycle.',
  'Birthday': '12/02/0982'},
 {'_id': ObjectId('5d34beda0b081fad65634e75'),
  'Name': 'Avi Flombaum',
  'Email': 'avi@theflatironschool.com',
  'Mailing_Address': '11 Broadway',
  'Balance': 0.0,
  'Birthday': '04/17/1983'},
 {'_id': ObjectId('5d34beda0b081fad65634e76'),
  'Name': 'Steven S.',
  'Email': 'steven.s@gmail.net',
  'Balance': -20.23,
  'Notes': 'Refunded for overpayment due to price match guarantee.',
  'Birthday': '08/30/1991'}]

In [97]:
def reverse(x):
        """
        :type x: int
        :rtype: int
        """
        minus = False
        container = []
        if x < 0:
            x = -x
            minus = True
        for i in range(len(str(x))):
            print(i)
            print(int(str(x)[i]))
            print (int(str(x)[i])*10**len(str(x)[:i]))
            container.append(int(str(x)[i])*10**len(str(x)[:i]))
        return -sum(container) if minus == True else sum(container)

In [98]:
reverse(123)

0
1
1
1
2
20
2
3
300

321